.container {
    input{
        width: 85%;
        height: 51px;
        outline: none;
        font-size: 14px;
        padding: 0 10px;
        border: none;
        box-shadow: 1px 1px 10px 1px rgba(0, 0, 0, 0.186);

    }
    button{
        width: 15%;
        height: 50px;
        font-size: 14px;
        color: #fff;
        border: none;
        background: #109CF1;
        box-shadow: 1px 1px 10px 1px rgba(0, 0, 0, 0.186);
        cursor: pointer;
        &:hover {
        background-color: #0e6da8;
        transition: .1s linear;
        }
    }
}