// .container {
//   margin: 0 auto;
//   text-align: center;
//   margin-top: 30px;

.takeToWork {
  background: #109cf1;
  box-shadow: 0px 4px 10px rgba(16, 156, 241, 0.24);
  border: none;
  border-radius: 4px;
  padding: 10px 25px;
  color: #fff;
  cursor: pointer;
  margin: 20px auto 0;
  display: block;
  &:hover {
    background: #016fb3;
    transition: 0.1s linear;
  }
}
.close {
  background: red;
  box-shadow: 0px 4px 10px rgba(16, 156, 241, 0.24);
  border: none;
  border-radius: 4px;
  padding: 10px 25px;
  color: #fff;
  display: block;
  margin: 20px auto 0;
  cursor: pointer;
  transition: 0.1s linear;
  &:hover {
  background: rgb(179, 0, 0);
  }
}
// }
.closed {
  background-color: #2ed47a;

  box-shadow: 0px 4px 10px rgba(16, 156, 241, 0.24);
  border: none;
  border-radius: 4px;
  padding: 15px 25px;
  color: #fff;
  display: block;
  margin: 20px auto;
  width: fit-content;
  font-size: 20px;
  
}
