.overlay {
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 2;
  background-color: rgba(0, 0, 0, 0.5);
  opacity: 0;
  visibility: hidden;
  transition: 0.2s;
}

.active {
  visibility: visible;
  opacity: 1;
}

.AddTaskModal {
  background-color: var(--color-white);
  border-radius: 10px;
  left: 50%;
  top: 0;
  transform: translate(-50%);
  transition: 0.2s;
  padding: 30px;
  width: 100%;
  max-width: 800px;
  text-align: center;
  position: absolute;
  opacity: 0;
  visibility: hidden;
  z-index: 5;

  span {
    display: block;
    text-align: center;
    font-weight: 600;
  }

  input {
    text-align: center;
    margin-bottom: 10px;
  }
}

.opened {
  opacity: 1;
  visibility: visible;
}

.btns {
  margin: 30px 0 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.closeModal {
  margin-top: 10px;
  font-size: 12px;
  padding: 7px 15px;
}

.text {
  textarea {
    max-width: 100%;
    min-width: 100%;
    min-height: 200px;
    max-height: 250px;
    width: 100%;
  }
}

.flex {
  display: flex;
  justify-content: center;
  margin-top: 50px;
  flex-wrap: wrap;
  gap: 10px;
}

.flexItem {
  span {
    font-size: 12px;
    margin-bottom: 5px;
  }
  input,
  select {
    padding: 10px;
    height: 40px;
  }
}

input::-webkit-input-placeholder {
  font-weight: 600;
}

@keyframes slidein {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@media screen and (max-width: 800px) {
  .flex {
    flex-direction: column;
    align-items: center;
    gap: 0;
  }

  .flexItem:not(:last-of-type) {
    margin-bottom: 40px;
  }
}
