.container {
    width: 60%;
   
    background-color: #fff;
    position: absolute;
    z-index: 2;
    left: 50%;
    transform: translate(-50%,-20%);
    box-shadow: 0px 0px 20px 0px rgba(75, 70, 70, 0.263);
    border-radius: 10px;
    
    .delete {
       position: absolute;
       font-size: 40px;
       top: 10px;
       right: 10px;
       color: red;     
       cursor: pointer;
       transition: .4s;

       &:hover {
        transform: rotate(90deg);
       }
    }
}