.container {
  width: 100%;
  background: var(--color-page-bg);
  margin: 10px auto;
  padding: 10px;
}

.main {
  display: flex;
  justify-content: center;
  gap: 20px;
  align-items: stretch;
  flex-wrap: wrap;
  padding: 20px 10px;
}

.filter {
  margin: 20px 0 0 20px;
}

.chartsContainer {
  width: 350px;
}

.chart {
  min-height: 350px;
  padding: 10px 0;
  position: relative;
}

.doughnut {
  text-align: center;
  box-shadow: 0 0 10px 0 var(--color-gray);
  // margin: 0 auto;
  width: 100%;
  padding: 20px 10px;
  border-radius: 5px;
  background-color: var(--color-white);
}

.branch {
  font-size: 20px;
  color: var(--color-primary);
  width: 100%;
  display: block;
  font-weight: 600;
}

.tasksCount {
  border-bottom: 2px solid var(--color-gray);
  padding: 10px 0;
}
