.container {
  width: 100%;
  background: #f5f6f8;
  margin: 10px auto;
  padding: 10px;
}

.main {
  display: flex;
  justify-content: center;
  gap: 20px;
  flex-wrap: wrap;
  padding: 20px 10px;
}

.chartsContainer {
  width: 350px;
}

.Doughnut {
  text-align: center;
  box-shadow: 1px 1px 10px 1px rgba(141, 141, 141, 0.203);
  margin: 0 auto;
  width: 100%;
  padding: 20px 10px;
  // border-radius: 5px;
}

.branch {
  font-size: 20px;
  color: #109cf1;
  width: 100%;
  display: block;
  font-weight: 700;
}

.tasksCount{
  border-bottom: 1px solid rgba(186, 186, 186, 0.756);
  padding: 10px 0;
}

.filter{
  margin: 20px 0 0 20px;
}