.Dashboard {
  width: 100%;
  margin: 0 auto;
  background: var(--color-page-bg);
}

.tools {
  display: flex;
  justify-content: space-between;
  position: relative;
  width: 95%;
  margin: 20px auto;
}
