.Table {
  background-color: #fff;
  margin: 0 auto;
  width: 95%;
  box-shadow: 0px 0px 10px #c6c6c6;
  border-radius: 5px;
  overflow: hidden;

  table {
    text-align: left;
    width: 100%;
    border-collapse: collapse;
    font-weight: 400;
    font-size: 13px;

    th {
      color: #334d6e;
      border-bottom: 1px solid #c2cbd2;
      padding: 20px;
      font-weight: 600;
      letter-spacing: 0.01em;
    }

    .tRow {
      transition: 0.1s;
      cursor: pointer;

      &:hover {
        background-color: rgb(235, 235, 235);
      }

      &:not(:last-of-type) {
        border-bottom: 1px solid #c2cbd2;
      }
    }

    td {
      padding: 25px 20px;
      color: #707683;
    }

    .inWork {
      background-color: #ffe4b9;

      &:hover {
        background-color: #fadcaa;
      }
    }

    .closed {
      background-color: #bdffdb;

      &:hover{
      background-color: #abfacf;

      }
    }
  }
}
