.TaskHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  font-size: 20px;
  background-color: var(--color-light-gray);
}

.timer {
  font-weight: 600;
  font-size: 30px;
  padding: 0 10px;
  position: absolute;
  left: 50%;
  translate: -50%;
  transition: 0.2s;
  color: var(--color-success);
}

.timerStarted {
  color: var(--color-danger);
}
