.sortButtons {
  width: 500px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-width: 325px;
  margin-left: 30px;
}

.button {
  padding: 10px 20px;
  border: 0;
  cursor: pointer;
  transition: 0.2s;
  border-radius: 2px;
  background-color: var(--color-light-gray);
  color: rgb(33, 33, 33);
  box-shadow: none;

  &:hover {
    background-color: var(--color-gray);
  }

  &:last-child {
    margin-right: 0;
  }
}

.active {
  background-color: var(--color-primary);
  color: var(--color-white);
  font-weight: 600;

  &:hover {
    background-color: var(--color-primary-hover);
  }
}
