.Sort {
  position: relative;
  width: fit-content;
}

.sortInput {
  cursor: pointer;
  padding: 10px;
  font-size: 14px;
  display: flex;
  align-items: center;
  background: var(--color-white);
  border-radius: 5px;

  span {
    margin-left: 10px;
    color: var(--color-primary);
  }
}

.modal {
  box-shadow: 0px 0px 10px var(--color-light-gray);
  background-color: var(--color-white);
  position: absolute;
  left: 50px;
  margin-top: 5px;
  z-index: 1;
  font-size: 14px;
  line-height: 20px;
  color: var(--color-table-gray);
  border-radius: 5px;
  overflow: hidden;

  li {
    list-style: none;
    padding: 8px 20px;
    cursor: pointer;

    &:hover {
      color: var(--color-primary);
      background-color: rgb(245, 245, 245);
    }
  }
}

.selected {
  font-weight: 600;
  color: var(--color-primary);
  background-color: rgb(245, 245, 245);
}
