.Sidebar {
  background-color: #fff;
  width: fit-content;
  margin-right: 15px;
  // width: 18%;

  padding: 10px;
  // font-weight: 500;
  // overflow: hidden;
  transition: 0.3s;
  box-shadow: 0 0 10px 0 rgba(88, 88, 88, 0.307);
  height: 100vh;
  position: relative;
  // position: fixed;

  &:hover {
    width: 18%;

    .profile {
      .branchName {
        opacity: 1;
      }

      .login {
        opacity: 1;
      }

      .avatar {
        // margin: 0 0;
      }
    }
  }

  .inner {
    // padding: 10px;
    background: #fff;
    // min-width: 200px;
    // margin: 0 auto;
    overflow: hidden;

    // position: fixed;
    // max-width: 100%;
    // width: 49px;
    // min-width: fit-content;
    // background-color: rgba(0, 0, 0, 0.316);
    // overflow: hidden;
    // transition: .3s;
  }

  .profile {
    margin: 25px auto;
    // width: 200px;

    border-bottom: 1px solid rgb(221, 221, 221);
    padding-bottom: 15px;

    .login {
      margin-top: 10px;
      font-size: 14px;
      opacity: 0;
      transition: 0.2s;
      display: none;
    }

    .branchName {
      font-size: 12px;
      margin-top: 10px;
      opacity: 0;
      transition: 0.2s;
      display: none;
    }

    .avatar {
      transition: 0.2s;
      width: 40px;
      height: 40px;
      border-radius: 50%;
      display: flex;
      justify-content: center;
      align-items: center;
      background-color: #109cf1;
      color: #fff;
      font-size: 20px;
      // translate: 50%;
      // margin: 0 auto;
    }
  }

  .sidebarItemsWrapper {
    // min-width: 200px;
    // width: fit-content;
    // margin: 0 auto;

    .navItem {
      // margin: 20px auto;
      width: fit-content;
      cursor: pointer;
      // font-size: 14px;
      transition: 0.1s;
      display: flex;
      align-items: center;

      &:hover {
        color: #109cf1;

        .icon {
          stroke: #109cf1;
        }
      }

      .navLink {
        padding: 10px;
        color: inherit;
        text-decoration: inherit;
        display: flex;
        align-items: center;
        position: relative;

        .icon {
          // width: fit-content;
          margin: 0 auto;
          display: block;
          transition: 0.1s;
          width: 20px;
          margin: 0 auto;
        }

        span {
          width: 200px;
          // width: none;
          left: 40px;
          // visibility: hidden;
          // display: none;
          position: absolute;
        }
      }
    }
    // доработать анимацию появления ссылок в сайдбаре
    .active {
      color: #109cf1;

      .icon {
        stroke: #109cf1;
      }
    }
  }
}
