.Sidebar {
  background-color: #fff;
  padding: 20px 10px;
  width: 65px;
  transition: 0.3s;
  overflow: hidden;
  position: relative;
  margin-right: 15px;

  &:hover {
    width: 240px;

    .branchName,
    .login {
      opacity: 1;
    }

    .navItem {
      span {
        opacity: 1;
      }
    }

    .inner {
      width: 200px;
    }
  }
}

.inner {
  position: fixed;
  overflow: hidden;
  width: 40px;
  transition: 0.3s;
}

.profile {
  width: fit-content;
  padding-bottom: 5px;
  border-bottom: 2px solid #000;
}

.avatar {
  width: 40px;
  height: 40px;
  background-color: #109cf1;
  color: #fff;
  font-size: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 2px;
}

.branchName,
.login {
  min-width: max-content ;
  opacity: 0;
  transition: 0.2s;
  font-size: 14px;
}

.login {
  margin: 5px 0;
}

.sidebarItemsWrapper {
  margin-top: 15px;
  max-width: 40px;
  height: 90vh;
}

.navItem {
  padding: 10px 10px;
  display: flex;
  align-items: center;
  min-width: 180px;
  text-decoration: none;
  color: inherit;
  cursor: pointer;

  &:hover {
    color: #109cf1;

    .icon {
      stroke: #109cf1;
    }
  }

  span {
    margin-left: 10px;
    opacity: 0;
    transition: 0.1s;
    font-size: 16px;
  }
}

.active {
  color: #109cf1;

  .icon {
    stroke: #109cf1;
  }
}

.icon {
  transition: 0.1s;
}

.logout {
  position: absolute;
  bottom: 100px;

  &:hover {
    color: #f12e10;

    .icon {
      stroke: #f12e10;
    }
  }
}
